<header>
    <nav>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <h2 style="display: flex; align-items: center;">早寝早起き朝ごはんアプリ
                <div style="display: flex; align-items: center; margin: 0;">
                    <img src="../favicon.ico" style="height: 1em;">
                </div>
            </h2>
        </div>
        <!-- <a href="/login/index.html"><img src="https://cdn.ringoxd.dev/ringoxd.png" width="64" height="64"></a> -->
         <div id="user" style="display: flex; flex-direction: row-reverse;"><p><a onclick="ToggleDarkmodeCaller()" id="ThemetoggleBtn">🌙</a> | </p></div>
    </nav>
</header>
<hr id="headhr">

<style>
    header {
        margin: 0;
        padding: 0 1em;
    }
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    /*
    a {
        display: inline-block;
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
        text-decoration: underline;
    }*/
</style>