<header>
    <nav>
        <h2>早寝早起き朝ごはんアプリ</h2>
        <!-- <a href="/login/index.html"><img src="https://cdn.ringoxd.dev/ringoxd.png" width="64" height="64"></a> -->
         <div id="user"></div>
    </nav>
</header>

<style>
    header {
        margin: 0;
        padding: 0 1em;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a {
        display: inline-block;
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
        text-decoration: underline;
    }
</style>

<script>
    async function main() {
        console.log('Fetching...')
        const res = await fetch('https://p-dev.ringoxd.dev/auth/info', {
            method: 'GET',
            mode: 'cors',
            cache: "no-cache",
            headers: {
                'User-Agent': 'WakeApp/1.0'
            },
        })
        const json = await res.json()
        console.log(json)
        if (res.status === 2000) append(json.user)
        else append('Login', false)
    }
    async function append(x, is) {
        console.log('Appending...')
        const elem = document.getElementById('user')
        if (is === true) {
            elem.insertAdjacentHTML('afterbegin', `<p>${x}</p>`)
        } else {
            elem.insertAdjacentHTML('afterbegin', `<p onclick='goLogin()'>Login</p>`)
        }
    }
    function goLogin() {
        location.href = '../login/index.html'
    }
    main()
</script>