<header>
    <nav>
        <h2>早寝早起き朝ごはんアプリ</h2>
        <!-- <a href="/login/index.html"><img src="https://cdn.ringoxd.dev/ringoxd.png" width="64" height="64"></a> -->
         <div id="user"></div>
    </nav>
</header>

<style>
    header {
        margin: 0;
        padding: 0 1em;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    /*
    a {
        display: inline-block;
        text-decoration: none;
    }

    a:hover {
        font-weight: bolder;
        text-decoration: underline;
    }*/
</style>