/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  {
    .app {
        margin: 0;
    }
    .title {
        font-size: 2em;
    }
    .btnbase {
        font-size: 2rem;
        margin: 0.5em;
    }
    #header h2 {
        font-size: 1.9em;
    }
    #header p {
        font-size: 2em;
    }
    .list h2 {
        font-size: 3.5em;
    }
    #slog {
        font-size: 3em;
    }
    .subtitle {
        font-size: 3em;
    }
    .foot {
        font-size: 2em;
    }
    input[type=text] {
        width: 100%;
        padding: 0.5em 0.5em;
        margin: 0;
        font-size: 3em;
    }
    input[type=password] {
        width: 100%;
        padding: 0.5em 0.5em;
        margin: 0;
        font-size: 3em;
    }
    label {
        width: 100%;
        max-width: 100%;
        font-size: 2em;
        margin: 0;
    }

}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {
    .btnbase {
        font-size: 2rem;
    }
    .list h2 {
        margin: 0.25em;
    }
    #slog {
        font-size: 2.5em;
    }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {  }

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    #header h2 {
        font-size: 1.5em;
    }
    #header p {
        font-size: 1em;
    }
    .title {
        font-size: 1.5em;
    }
    .btnbase {
        font-size: 1.5rem;
    }
    .list h2 {
        font-size: 2.25em;
    }
    #slog {
        font-size: 1.25em;
    }
    input[type=text] {
        padding: 0.25em 0.25em;
        font-size: 2.5em;
    }
    input[type=password] {
        padding: 0.25em 0.25em;
        font-size: 2.5em;
    }

}

/* hi-res laptops and desktops */
@media (min-width:1281px) {  }
